html, body {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
body {
  width: 300px;
  height: 300px;
  background-color: rgb(101, 176, 196);
  background-image: none;
}

.player {
  width: 95%;
  height: 40px;
  margin: auto;
  /*overflow: hidden;*/
}

.player > * {
  display: inline-block;
}

.player .icon {
  position: relative;
  margin-right: 5px;
  bottom: 8px;
  width: 28px;
  height: 28px;
}

.player .state_button, .player .volume_button {
  position: relative;
  bottom: 10px;
  width: 20px;
  height: 20px;
}

.player .title {
  width: 70%;
  font-size: small;
  text-overflow: ellipsis;
    white-space: nowrap; 
  overflow: hidden;
  word-wrap: break-word;
}

#list_separator img{
  width: 100%;
}

.center {
  margin: auto;
  /*position: absolute;*/
  /*top: 0; left: 0; bottom: 0; right: 0;*/
}

.player_list
{
    list-style-type: none;
    padding:0; margin:0; 
}
